html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  font-size: 42px;
  padding: 20px;
  border: solid 12px goldenrod;
}

button::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}